.logo{
  width: 200px;
  border-radius: 12px; /* thoda smooth look */
}body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e5e7eb;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  color: #38bdf8;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #38bdf8;
  margin-top: 30px;
}

.section {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  font-size: 18px;
}

small {
  color: #94a3b8;
  font-size: 14px;
}

.note {
  font-size: 13px;
  color: #94a3b8;
}

.insta-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 22px;
  background: #ec4899;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.logo{
  width: 220px;
  max-width: 90%;
  display: block;
  margin: 20px auto;
}

.logo{
  width: 200px;
  border-radius: 12px; /* thoda smooth look */
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero .tagline {
  font-size: 18px;
  font-weight: bold;
}

.hero .desc {
  max-width: 500px;
  margin: 15px auto;
  font-size: 15px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-image {
  max-width: 900px;      /* website jaisa width */
  margin: 40px auto;     /* center + space */
  padding: 0 15px;
}

.project-image img {
  width: 100%;           /* responsive */
  height: auto;
  border-radius: 12px;   /* modern look */
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
